.Checkout {
  background: #eeeeee;

  .checkout-header {
    background: #ffffff;
    padding: 10px;
    div {
      width: 750px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .checkout-products {
    background: #eeeeee;

    .checkout-product {
      width: 768px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #fff;
      padding: 10px;

      img {
        width: 150px;
        height: 100px;
        border-radius: 2px;
        object-fit: cover;
      }

      .p-name {
        width: 100px;
        text-align: center;
      }

      .p-quantity {
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          padding: 0px 5px;
          padding-bottom: 2px;
          display: inline-block;
          font-size: 20px;
        }
        button {
          width: 30px;
          height: 20px;
          padding-bottom: 2px;
          background: #c20030;
          color: #ffffff;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .p-price {
        width: 100px;
        text-align: center;
        color: green;
        font-weight: bold;
      }
    }
  }

  .checkout-footer {
    width: 768px;
    padding: 10px 0px;
    padding-right: 0px;
    display: flex;
    margin: auto;
    justify-content: flex-end ; 

    .totalPrice { 
      margin-right:50px; 
      font-size:25px; 
      color:green;
    }

  }
}
