.ItemCollection { 
 background:#ffffff; 
 height:220px; 
 display:flex;
 flex-direction: column;
 border-radius:3px;
 position:relative;
 color:#111;
}

.ItemCollection > img {
 width:100%;
 height:78%; 
 object-fit: cover;
 object-position:left top ;
}

.ItemCollection > div { 
 height:20%;
 display:flex;
 justify-content: space-between; 
 padding:0px 10px;
 align-items: center;
}
 
.cartBtn {
 position:absolute; 
 padding:5px 10px; 
 right:6px;
 bottom:25%; 
 cursor:pointer;
 background: linear-gradient(to right, #8e562e, rgb(6, 184, 6));
 color:#ffffff;
 border-radius:4px;
}