.Menu-item {  
  background: #79414199;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height:255px;
  grid-column: span 8;    
  position: relative; 
  overflow: hidden;
  z-index: 98;  
}

.backgroundImage {
  width:100%;
  height:100% ;
  position: absolute; 
  object-fit: cover;
  object-position: top left;
}
.Menu-item:hover .backgroundImage{
  transition: all 4s ;
  transform:scale(1.1)
}

.Menu-item.large {
  height: 300px;
}

.content {
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  text-align: center;
  z-index: 11;
}

.content > .title,
.content > .subTitle {
  margin: 4px 0px;
}

.Menu-item:nth-child(1) {
  grid-area: hats;
}
.Menu-item:nth-child(2) {
  grid-area: jackets;
}
.Menu-item:nth-child(3) {
  grid-area: sneakers;
}
.Menu-item:nth-child(4) {
  grid-area: womens;
}
.Menu-item:nth-child(5) {
  grid-area: mens;
}
 
