.CartIcon {
  position: relative;
  width: 50px;
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  cursor: pointer;
  .cart-bag { 
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .cart-count {
    position: absolute;
    top: 0px; 
    right: 0px;  
    background:#5c520f; 
    background:linear-gradient( to right, #11580f, #ad0079); 
    color:#fff;
    width:25px;
    height:25px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px;
    transition: all 0.5s;
  }

  .cartCountAnim {
    animation-name: count;
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-duration:1s; 
  }  
}

@keyframes count {
  from{ transform: scale(1); }
  to{ transform: scale(1.4); }
}